b-cov
t
!t/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
*.sublime-workspace
*.sublime-project
/nbproject/
.tm_properties
/kdt.zip
.tags
.tags_sorted_by_file
.buildpath
.project
.settings/
koala-config.json
.externalToolBuilders/
.sass-cache
delete_remote_unused_branch.sh
/xhprof*
.vagrant
composer.lock
/vendor

./resource/config/.private
build
coverage
./tests/coverage/*
swoole_ide_helper
./bin/.private
